body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-width:100%;
}

 h1{
  font-family: Arial, "Courier New", "Times New Roman";
  font-weight: bold;
  color:white;
  position:absolute;
  bottom:200px;
  left:400px;
}

h3{
  text-align: center;
  background-color: yellow;
}

p{
  padding-left: 10px;
}
#menuNav{
  color:black;
  text-decoration: none;
  display:none;
}
#close_toggle{
  text-decoration: none;
  display: none;
}

ul{
  display:flex;
  margin:25px 5px 25px 5px;
}

li{
  margin:17px;
  padding-left:12px;
  font-family: Arial, "Courier New", "Times New Roman";
  font-weight: bold;
  list-style-type: none;
}

input{
  width:75px;
  height:20px;
  display: none;
  border-radius: 50px;
}
.toggle{
  text-decoration: none;
}


#content_wrap{
  display:flex;
  justify-content: space-between;
}

#wrap_content{
  display:flex;
  justify-content: space-between;
}
span, a:link{
  text-align: center;
  color:green;
}
a:link{
  text-align: center;
  text-decoration:none;
}
#footer_wrap{
  display:flex;
  justify-content: center;
}
#info{
  border-left:1px solid yellow;
}
